<!-- footer -->
<div class="container mb-5">
  <div class="row d-flex justify-content-between">
    <div class="col-sm-12 col-md-2 justify-items-center mb-sm-2">
      <a
        class="logo d-flex align-items-center fw-semibold text-light text-decoration-none"
      >
        <i class="fa-solid fa-film"></i> Movies
      </a>
    </div>
    <div
      class="col-sm-12 col-md-6 d-md-flex justify-content-end social-icons fs-2 text-center"
    >
      <a href="#"> <i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </div>
</div>
<!-- footer -->
<!-- copyrights -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center copy">
      <p>&#169; <span>Web Masters</span> All Right Reserved.</p>
    </div>
  </div>
</div>

<!-- copyrights -->
