<div class="container-fluid  head" id="home">
  <section class="container align-items-center">
    <div class="row">
      <div class="col-md-4 home-text ps-4 text-nowrap position-absolute">
        <span class="text-dark text-uppercase fw-bold ps-2  ">Marvel Universe</span>
        <h2 class="fw-bold mb-3 ps-3 mt-3 ">
          Spider-Man

        </h2>
        <h2 class="fw-bold mb-3 ps-3 ">Far From Home</h2>
        <button class="btn btn-danger fw-normal border-radius mx-2 " style="padding: 0.7rem 1.4rem;" >Book Now</button>
      </div>
    </div>
  </section>
</div>
