.head {
  min-height: 100vh;
  background-image: url(../../../assets/home_3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.home-text {
  position: absolute;
  top: 40%;
}
.home-text h2 {
  font-size: 4rem;
}

.light {
  background-color: white;
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
  color: red;
}
