<div class="container mt-5 movies" id="comingsoon">
  <div class="row">
    <div class="col-12 mb-5">
      <h2 class="text-light text-uppercase border-bottom border-danger">
        coming soon
      </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around">
    @for( item of comingSoon;track $index){
    <div class="col-md-2 card bg-transparent" style="width: 200px">
      <img
        [src]="item.thumbnail"
        class="card-img-top img-fluid w-100 h-100"
        alt={{item.movieTitle}}
      />
      <div class="card-body px-0">
        <h5 class="card-title fw-medium" style="font-size: 0.9rem; color: red">
          {{ item.movieTitle }}
        </h5>
        <p class="card-text text-light">
          {{ item.movieDuration }}min | {{ item.type }}
        </p>
      </div>
    </div>

    }
  </div>
</div>
