<div class="container mt-5 mb-5" id="newsletter">
  <div class="row justify-content-center">
    <div class="col-md-12 d-flex justify-content-center">
      <h2 class="fw-600 text-center mb-sm-5">
        Subscribe To Get <br />
        Newsletter
      </h2>
    </div>
    <div class="col-md-5">
      <form
        class="bg-light p-2 border-r d-flex flex-row align-content-center justify-content-center"
      >
        <input
          type="email"
          class="form-control border-none outline-0"
          placeholder="Enter Email..."
        />
        <input
          type="submit"
          class="btn text-light border-none outline-0 fw-semibold text-uppercase"
          value="Subscribe"
        />
      </form>
    </div>
  </div>
</div>
