/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--text-color);
  color: var(--bg-color);
}
.btn {
  padding: 0.7px 1.4px;
  
}
img {
  height: 270px;
  cursor: pointer;
  transition: 0.2s all linear;
}

img:hover {
  transform: translateY(-10px);
}
p {
  font-size: 13px;
}
